---
const currentYear = new Date().getFullYear();
const companyName = "Pulidos Daniel";
---

<footer
	class="bg-accent text-gray-300 bottom-0 lg:max-w-screen-xl mx-auto rounded-t-xl"
>
	<div class="container mx-auto px-4 py-4 md:px-8 lg:px-12">
		<div class="flex flex-col md:flex-row justify-between items-center">
			<div class="mb-4 md:mb-0">
				<h2
					class="text-white text-xl text-center font-semibold md:text-left"
				>
					{companyName}
				</h2>
				<p class="text-sm text-gray-300">
					Expertos en pulido y restauración de pisos
				</p>
			</div>

			<div class="mt-8 text-center text-sm text-gray-300">
				<p>
					&copy; {currentYear}
					{companyName}. Derechos reservados.
				</p>
			</div>
		</div>
	</div>
</footer>
