---
import Layout from "@layouts/Layout.astro";
import Hero from "@views/Hero.astro";
import Servicios from "@components/views/Servicios.astro";
import Resultados from "@views/Resultados.astro";
import Contacto from "@views/Contacto.astro";
import Footer from "@views/Footer.astro";
---

<Layout title="Pulidos Daniel">
	<main class="overflow-x-hidden">
		<Hero />
		<Servicios />
		<Resultados />
		<Contacto />
		<Footer />
	</main>
</Layout>
